  <%= cl_image_tag current_user.photo.key, width: 140, height: 140, crop: :fill, class: "big-avatar-square" %>
  <h4 class="text-center">
    <%= current_user.first_name.capitalize %>
    <%= current_user.last_name.capitalize %>
  </h4>

  <%= render "shared/vinyls.html.erb", vinyls: @vinyls %>
