<h1>All Vinyls</h1>



<% @vinyls.each do |vinyl| %>
  <div class="card-product">
    <!-- vinyl.photo -->

    <img src="https://via.placeholder.com/150" />
    <div class="card-product-infos">
      <h2><%= vinyl.title %></h2>
      <p><%= vinyl.artist %></p>
      <p>$ <%= vinyl.price_per_day %></p>
    </div>
  </div>
<% end %>

<div class="iphone-size">
<div class="container">
  <div class="card-product">
    <!-- vinyl.photo -->
    <img src="https://via.placeholder.com/150" />
    <div class="card-product-infos">
      <h2>title</h2>
      <p>artist</p>
    </div>
    <div class="card-product-price">
      <p>$</p>
    </div>
  </div>
</div>
</div>
