.box{
  border: 1px solid black;
}


a, a:hover{
  text-decoration: none;
  color: black;
}

a:hover .card-product{
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
a:active .card-product{
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.card-product {
  overflow: hidden;
  height: 110px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  border-radius: 8px;
}

.card-product img {
  height: 100%;
  width: 110px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.card-product .card-product-price {
  padding: 16px;

  p {
    margin: 0;
    font-size: 16px;
  }
}
