.card {
  margin-top: 1.5rem;
  width: 100%;
}

.img-vinyl {
  width: 100%;
  margin-top: 5px;
}
.card-title {
  line-height: 1;
}

.mx-1 {
  margin: 0 !important;
}

.card-text {
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}

.card-text:first-child {
  margin: 0;
  color: $warning;
  font-size: 1.4em;
  margin-right: 1.2rem;
  text-align: center;
}

.card-text:last-child {
  margin-top: 1.2rem;
  margin-right: 1.2rem;
  color: white;
  border: solid white 1px;
  padding: 3px;
  text-align: center;
}

#card-vinyls .btn {
  width: 100%;
}

.btn-outline-dark {
  border: solid white 1px;
  color: white;
}

.btn-outline-dark:hover {
  background-color: grey;
}
