// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 25;
  // overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:first-child svg{
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(25%) opacity(0.85);
  transition: var(--transition-speed);
  cursor: pointer;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  margin: 0 1.5rem;
  height: 40px;
  width: 40px;
}


.fa-primary {
  color: #e9e1e8;
}

.fa-secondary {
  color: #dfd4db;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  // font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  font-size: 12px;
  left: -999px;
  color: #ececec;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.avatar img {
  border-radius: 50%;
}

// .fa-9x {
//     display: none;
// }

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    padding: 0px;
  }

  .logo {
    display: none;
  }

  .nav-item {
    width: 100%;
    height: 100%;
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
  }

  .nav-link {
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px !important;
    display: flex;
    align-items: center;
  }

  .nav-link > a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    .avatar {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dropdown-toggle {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  main {
    margin: 0;
  }

  .navbar-lewagon {
    justify-content: space-between;
  }

  .navbar-nav .dropdown-menu {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;

    position: absolute;
    left: -53px;
    z-index: 1100;
  }

  .show {
    margin: 0px;
    padding: 0px;
    z-index: 100000000;
  }

  .navbar-svg {
    height: 45px;
    width: 45px;
    display: flex;
  }

  .dropdown-toggle::after {
    border-top: 0px;
    border-left: 0px;
  }

  .nav-link {
    padding: 2rem;
  }
  .dropdown-item {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    z-index: 2050;
    height: fit-content;
  }

  .dropdown-item a {
    z-index: 2075;
    flex-grow: 4;
  }

  .dropdown-menu {
    bottom: 91.6px;
    top: -101px;
  }
  .desktop-display {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .desktop-no-display {
    display: none;
  }

  .dropdown-toggle::after {
    border-top: 0px;
    border-left: 0px;
  }
  .dropdown-toggle {
    pointer-events: none;
  }
  #loggin-navbar {
    padding-left: 8px;
  }
}

.dark {
  --text-primary: #a4c59e;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
