<p>incoming renting of <%= current_user.email %></p>

<h1>pending</h1>
<%= render 'shared/rentings_incoming', data: @pending_incoming_rentings %>

<h1>accepted</h1>
<!-- use rentings_index -->
<%= render 'shared/rentings_incoming', data: @accepted_incoming_rentings %>

<h1>declined</h1>
<!-- use rentings_index -->
<%= render 'shared/rentings_incoming', data: @declined_incoming_rentings %>
